<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/style.css" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <header>
      <main>
        <h1>FastAPI + htmx + Jinja2 = ❤️</h1>
      </main>
    </header>

    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">{% block footer %} {% endblock %}</div>
    <script src="/static/vendor/htmx.min.js"></script>
  </body>
</html>
