body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

button {
  border: 1px solid black;
  border-radius: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-weight: bold;
}
button:hover {
  /* transition: 250ms; */
}
button:active {
  box-shadow: 3px 0px 0px red, -3px 0px 0px red, 0px 3px 0px red,
    0px -3px 0px red;
}
.btn-secondary {
  background-color: white;
  border-color: black;
  color: black;
}
.btn-secondary:hover {
  background-color: black;
  color: white;
  border-color: white;
}
.btn-primary {
  background-color: black;
  color: white;
  border-color: white;
}
.btn-primary:hover {
  background-color: white;
  color: black;
  border-color: black;
}

table,
tr,
th,
td {
  border-collapse: collapse;
  text-align: left;
  border-bottom: 1px solid black;
}

thead > tr {
  background-color: black;
  color: white;
}

th,
td {
  padding: 0.2rem 0.5rem;
}

tr.htmx-swapping td {
  opacity: 0;
  transition: opacity 1s ease-out;
}

label {
  font-weight: bold;
}

article {
  max-width: 60ch;
  display: inline-block;
}

input {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
}

.dark {
  color: white;
  background-color: black;
}

h3 {
  text-decoration: underline solid black;
}

.my-indicator {
  > .show {
    display: inline;
  }
  > .loading {
    display: none;
  }
}
.loading {
  display: none;
}

.htmx-request .my-indicator,
.htmx-request.my-indicator {
  > .show {
    display: none;
  }
  > .loading {
    display: inline;
  }
}
