body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

button,
input[type="submit"] {
  border: 1px solid black;
  border-radius: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

button:active {
  box-shadow: 3px 0px 0px red, -3px 0px 0px red, 0px 3px 0px red,
    0px -3px 0px red;
}
.btn-secondary {
  background-color: white;
  border-color: black;
  color: black;
}
.btn-secondary:hover {
  background-color: black;
  color: white;
  border-color: white;
}
.btn-primary {
  background-color: black;
  color: white;
  border-color: white;
}
.btn-primary:hover {
  background-color: white;
  color: black;
  border-color: black;
}
table {
  caption {
    padding: 0.5rem;
    font-weight: bold;
  }
}

table,
tr,
th,
td {
  border-collapse: collapse;
  text-align: left;
}

tr {
  border-bottom: 1px solid black;
}

tr:last-of-type {
  border-bottom: none;
}

thead > tr {
  background-color: black;
  color: white;
}

th,
td {
  padding: 0.2rem 0.5rem;
}

tr.htmx-swapping td {
  opacity: 0;
  transition: opacity 1s ease-out;
}

label {
  font-weight: bold;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

p,
i {
  max-width: 60ch;
}

input[type="text"],
input[type="number"],
select {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
}
select {
  text-align: center;
  width: auto;
  font-size: 1.1rem;
}

.dark {
  color: white;
  background-color: black;
}

h3 {
  text-decoration: underline solid black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.my-indicator {
  > .show {
    display: inline-block;
  }
  > .loading {
    display: none;
  }
}
.loading {
  display: none;
}

.htmx-request .my-indicator,
.htmx-request.my-indicator {
  > .show {
    display: none;
  }
  > .loading {
    display: inline-block;
  }
}

a {
  color: black;
}

nav {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;

  * {
    margin: 0px;
    padding: 0px;
  }

  a {
    font-weight: bold;
  }
}

.sep {
  height: 100px;
  content: "";
}
