<div
  class="dark"
  style="border: 1px solid black; border-radius: 1rem; padding: 1rem"
>
  <h3>Add Item</h3>
  <form hx-post="/api/items" hx-target="#table-and-form" style="width: 100%">
    <div>
      <label>Name</label>
      <br />
      <input type="text" name="name" />
    </div>
    <br />
    <div>
      <label>Description</label>
      <br />
      <input type="text" name="description" />
    </div>
    <br />
    <div>
      <!-- This button submits the form by using its hx-post -->
      <button class="btn-secondary">Submit</button>
      <!-- This button cancles the form via reloading the whole table -->
      <button
        hx-get="/api/items/table"
        hx-target="#table-and-form"
        class="btn-secondary"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
