<div id="drink-form">
  <form>
    <label>Choose a beverage</label><br />
    <select
      name="drink"
      hx-put="/api/drinks"
      hx-trigger="change"
      hx-target="#drink-form"
      value="{{selected}}"
    >
      {% for option in options %} {% if option == selected %}
      <option selected>{{option}}</option>
      {% else %}
      <option>{{option}}</option>
      {% endif %} {% endfor %}
    </select>
  </form>
  {% if selected %}
  <p style="font-size: 1.4rem">
    The <strong>server</strong> knows that you selected:
    <strong>{{selected}}</strong>. Cheers!
  </p>
  {% endif %}
</div>
