<div id="table-and-form">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody
      hx-confirm="Are you sure?"
      hx-target="closest tr"
      hx-swap="outerHTML swap:1s"
    >
      {% for item in items %}
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>
          <button hx-delete="/api/items/{{item.id}}">Delete</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <button hx-get="/api/items/add" hx-swap="outerHTML">Add new Item</button>

  <!-- <form hx-post="/api/items" hx-target="#table-and-form">
    <div>
      <label>Name</label>
      <br />
      <input type="text" name="name" />
    </div>
    <div>
      <label>Description</label>
      <br />
      <input type="text" name="description" />
    </div>
    <div>
      <button>Submit</button>
    </div>
  </form> -->
</div>
